<form action="/users" method="post">

<h2>Username</h2>
<input type="text" name="user[username]" placeholder="Enter new username"/>

<h2>Gender</h2>
<input type="text" name="user[gender]" placeholder="Enter gender"/>

<br/>
<br/>

<input type="submit" value="Create New User">
</form>